@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #151716;
  font-family: Lexend, Arial;
  cursor: url("./main-images/ponteiro-non-active.png");
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

h1 {
  background: linear-gradient(#023e8a, #03045e);
  background-clip: text;
  color: transparent;
  text-align: center;
  margin: 50px 50px 10px 50px;
  font-size: 35px;
}

.social-medias {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.social-item {
  color: white;
  font-size: 25px;
  position: relative;
}

.social-item:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 50%;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease;
}

.social-item:hover:after {
  width: 100%;
  left: 0;
}

.social-item:hover {
  opacity: 50%;
  transition: linear 0.3s;
}

.fa-brands {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #080808;
  color: #e1e1e1;
  border-radius: 2rem;
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-img {
  border-radius: 1rem;
  width: 70%;
  height: 100px;
  margin: 10px;
}

.title-card {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

button {
  display: flex;
  background: linear-gradient(#023e8a, #03045e);
  border-radius: 2rem;
  border: none;
  color: #e1e1e1;
  width: 80%;
  margin: 20px;
  padding: 10px;
  font-size: 10px;
  font-family: Lexend;
  justify-content: center;
  align-items: center;
}

button:hover {
  transform: translateY(-10px);
  transition: linear 0.2s;
  cursor: pointer;
}

.card button a {
  text-decoration: none;
  color: #e1e1e1;
}

.card button a:hover {
  text-decoration: underline;
}

.fa-arrow-up-right-from-square {
  display: none;
}

@media screen and (min-width: 768px) {
  .card {
    width: 40%;
  }

  .title-card {
    font-size: 20px;
  }

  .card button a {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }

  button {
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }

  .fa-arrow-up-right-from-square {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 25%;
  }
}
